/* Mobile devices, less than 376px */
/* No media query for mobile since this is the default */

.Clock {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.Clock__content {
  margin-bottom: 48px;
}

.Clock__button {
}

/*Tablets,  Less than 769px*/
@media (min-width: 376px) {
  .Clock__content {
    margin-bottom: 80px;
  }
}

/* Desktop, 769px and up */
@media (min-width: 769px) {
  .Clock {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 64px;
  }

  .Clock__content {
    margin-bottom: 0px;
  }
}
