/* Mobile devices, less than 768px */
/* No media query for mobile since this is the default */
.Clock {
  display: flex;
  flex-direction: column;
  padding: 26px 26px 48px 26px;
}

/* Tablets, 768px and up */
@media (min-width: 768px) {
  .Clock {
    padding: 64px 64px 80px 64px;
  }
}

/* Desktop, 1440px and up  */
@media (min-width: 1440px) {
  .Clock {
    padding: 64px 0 64px 128px;
  }
}
