/* Mobile devices, less than 768px */
/* No media query for mobile since this is the default */
.Clock {
  display: flex;
  flex-direction: column;
  padding: 24px 24px 0 24px;
  margin-bottom: 48px;
}

/* Tablets, 768px and up */
@media (min-width: 768px) {
  .Clock {
    margin-bottom: 80px;
  }
}

/* Desktop, 1440px and up  */
@media (min-width: 1440px) {
  .Clock {
    padding: 64px 64px 64px 64px;
    margin-bottom: 0px;
  }
}
