/* Mobile devices, less than 376px */
/* No media query for mobile since this is the default */
.Greeting {
  display: flex;
}

.Greeting__icon {
  padding: 0 1rem 0 0;
}

.Greeting__msg {
  display: none;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
}

.Greeting__msg--mobile {
  display: block;
}

/*Tablets,  Less than 769px*/
@media (min-width: 376px) {
  .Greeting__msg {
    display: block;
    /* font-size: 18px; mockup */
    /* Review later: https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/ */
    font-size: 11px; /* value that works at 37spx vw */
    line-height: 28px;
    letter-spacing: 3.6px;
  }

  .Greeting__msg--mobile {
    display: none;
  }
}

/* Desktop, 769px and up */
@media (min-width: 769px) {
  .Greeting__msg {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 4px;
  }
}
