/* Mobile devices, less than 376px */
/* No media query for mobile since this is the default */
.Location {
}

.Location__content {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 0.938rem;
  line-height: 1.75rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
}

/*Tablets,  Less than 769px*/
@media (min-width: 376px) {
  .Location__content {
    font-size: 1.125rem;
    line-height: 1.75rem;
    letter-spacing: 3.6px;
  }
}

/* Desktop, 769px and up */
@media (min-width: 769px) {
  .Location__content {
    font-size: 1.5rem;
    line-height: 1.75rem;
    letter-spacing: 4.8px;
  }
}
