/* Mobile devices, less than 376px */
/* No media query for mobile since this is the default */
.Time {
}

.Time__content {
}

.Time__hoursMin {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  /* font-size: 100px; mockup */
  /* Review later: https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/ */
  font-size: 99px; /* value that works at 37spx vw */
  line-height: 100px;
  letter-spacing: -2.5px;
  color: #ffffff;
}

.Time__timeZone {
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
}

/*Tablets,  Less than 769px*/
@media (min-width: 376px) {
  .Time__hoursMin {
    /* font-size: 175px; mockup */
    /* Review later: https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/ */
    font-size: 116px; /* value that works at 37spx vw */
    line-height: 175px;
    letter-spacing: -4.38px;
  }

  .Time__timeZone {
    /* font-size: 32px; mockup */
    /* Review later: https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/ */
    font-size: 25px; /* value that works at 37spx vw */
    line-height: 28px;
  }
}

/* Desktop, 769px and up */
@media (min-width: 769px) {
  .Time__hoursMin {
    /* font-size: 200px; mockup */
    /* Review later: https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/ */
    font-size: 180px; /* value that works at 37spx vw */
    line-height: 200px;
    letter-spacing: -5px;
  }

  .Time__timeZone {
    /* font-size: 40px; mockup */
    /* Review later: https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/ */
    font-size: 23px; /* value that works at 37spx vw */
    line-height: 28px;
  }
}
