/* Mobile devices, less than 768px */
/* No media query for mobile since this is the default */
.Time {
}

.Time__content {
}

.Time__hoursMin {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 100px;
  letter-spacing: -2.5px;
  color: #ffffff;
}

.Time__timeZone {
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
}

/* Tablets, 768px and up */
@media (min-width: 768px) {
  .Time__hoursMin {
    font-size: 175px;
    line-height: 175px;
    letter-spacing: -4.38px;
  }

  .Time__timeZone {
    font-size: 32px;
    line-height: 28px;
  }
}

/* Desktop, 1440px and up  */
@media (min-width: 1440px) {
  .Time__hoursMin {
    font-size: 200px;
    line-height: 200px;
    letter-spacing: -5px;
  }

  .Time__timeZone {
    font-size: 40px;
    line-height: 28px;
  }
}
