.header {
  background-image: url(../../assets/suggestions/desktop/background-header.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header__title {
  margin-top: 3.875rem;
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.813rem;
  letter-spacing: 0.016reme;
  color: #ffffff;
}

.header__sub-title {
  font-style: normal;
  font-weight: 500;
  font-size: 0.938rem;
  line-height: 1.375rem;
  color: #ffffff;
}
