.sort {
  padding: 0.875rem;
  box-shadow: none;
  background-color: #373f68;
  display: flex;
  justify-content: left;
  align-items: center;
  height: max-content;
}

.sort__Icon {
  padding-right: 1rem;
}

.sort__count {
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.625rem;
  letter-spacing: -0.016rem;
  color: #ffffff;
  padding-left: 1rem;
  padding-right: 2.375rem;
}

.sort__options {
  position: relative;
}

.sort__label button {
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #f2f4fe;
  cursor: pointer;
  background: transparent;
  border: none;
}

.sort__label button + svg path {
  stroke: #ffffff;
}

.sort__container {
  position: absolute;
  z-index: 1;
  background: #ffffff;
  box-shadow: 0px 10px 40px -7px rgba(55, 63, 104, 0.350492);
  border-radius: 10px;
  width: 255px;
  top: 55px;
}

.sort__list {
}

.sort__item {
  padding: 0.75rem 1.5rem;
  border-bottom: 1px solid rgba(58, 67, 116, 0.15);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.438rem;
  color: #647196;
  cursor: pointer;
}

.sort__item:hover {
  color: #ad1fea;
}

.sort__button {
  background-color: #ad1fea;
  border-radius: 10px;
  padding: 0.75rem 1.5rem;
  margin-left: auto;
  font-style: normal;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #f2f4fe;
  cursor: pointer;
  border: none;
}

.sort__button:hover {
  background-color: #c75af6;
}
