/* Mobile devices, less than 768px */
/* No media query for mobile since this is the default */
.Expanded {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 26px;
  width: 100%;
}

.Expanded--nighttime {
  background-color: rgba(0, 0, 0, 0.85);
}

.Expanded__list {
}

.Expanded__item {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  align-items: center;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 28px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #303030;
}

.Expanded__item:nth-child(4) {
  padding-bottom: 0;
}

.Expanded__item--nighttime {
  color: #ffffff;
}

.Expanded__value {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24.2px;
  color: #303030;
}

.Expanded__value--nighttime {
  color: #ffffff;
}

/* Tablets, 768px and up */
@media (min-width: 768px) {
  .Expanded {
    padding: 64px;
  }

  .Expanded__list {
    display: flex;
    flex-wrap: wrap;
  }

  .Expanded__item {
    flex: 0 0 50%;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 48px;
    font-size: 13px;
    line-height: 28px;
    letter-spacing: 2.6px;
  }

  .Expanded__item:nth-child(3) {
    padding-bottom: 0;
  }

  .Expanded__item:nth-child(4) {
    padding-bottom: 0;
  }

  .Expanded__value {
    font-size: 40px;
    line-height: 48.41px;
  }
}

/* Desktop, 1440px and up  */
@media (min-width: 1440px) {
  .Expanded {
    padding: 64px 128px;
  }

  .Expanded__item {
    padding-bottom: 42px;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 3px;
  }

  .Expanded__item--nighttime:nth-child(even) {
    border-left: 1px solid rgb(255, 255, 255, 0.2);
    padding-left: 64px;
  }

  .Expanded__value {
    font-size: 56px;
    line-height: 67.77px;
  }
}
