.online-retailer-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  padding: 1rem;
  background-color: #ffffff;
}

.online-retailer-card__no-stock {
  font-family: "Poppins-Italic";
  font-size: 0.75rem;
}

.online-retailer-card__img {
  height: max-content;
  max-height: 35px; /* generic height brand logos are set to */
  width: auto;
}

.online-retailer-card__stock {
  height: max-content;
  font-family: "Poppins-Italic";
  font-size: 0.75rem;
}

.online-retailer-card_CTA {
  height: max-content;
  padding: 0.5rem 1rem;
  background-color: #5646a6;
  color: #000000;
  text-decoration: none;
  font-family: "Poppins-Medium";
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 500;
  color: #ffffff;
}

.online-retailer-card_CTA:hover {
  background-color: #aa68bf;
}
