/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default */

.Quote {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem;
}

.Quote__text {
  flex: 0 0 90%;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1.375rem;
  color: #ffffff;
}

.Quote__refresh {
  flex: 0 0 10%;
  display: flex;
  justify-content: center;
}

.Quote__citation {
  margin-top: 0.5rem;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 0.75rem;
  line-height: 1.375rem;
  color: #ffffff;
}

/*Small devices and tablets (landscape phones, 576px and up) */

@media (min-width: 576px) {
  .Quote {
    padding: 4rem;
  }

  .Quote__text {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .Quote__citation {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .Quote {
    padding: 4rem 5rem;
  }
}
