/* Mobile devices, less than 768px */
/* No media query for mobile since this is the default */
.Quote {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 26px;
  width: 100%;
}

.Quote__text {
  flex: 0 0 90%;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  color: #ffffff;
}

.Quote__refresh {
  flex: 0 0 10%;
  display: flex;
  justify-content: center;
}

.Quote__citation {
  margin-top: 0.5rem;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 22px;
  color: #ffffff;
}

/* Tablets, 768px and up */
@media (min-width: 768px) {
  .Quote {
    padding: 64px;
  }

  .Quote__text {
    font-size: 18px;
    line-height: 28px;
  }

  .Quote__citation {
    font-size: 18px;
    line-height: 28px;
  }
}

/* Desktop, 1440px and up  */
@media (min-width: 1440px) {
  .Quote {
    padding: 64px 0 64px 128px;
  }
}
