/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default */

.Container {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  z-index: -2;
}

.Container--daytime {
  background-image: url(../../assets/mobile/bg-image-daytime.jpg);
}

.Container--nighttime {
  background-image: url(../../assets/mobile/bg-image-nighttime.jpg);
}

.Container__overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #000000;
  opacity: 0.4;
  z-index: -1;
}

.Container__content {
}

/*Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .Container--daytime {
    background-image: url(../../assets/tablet/bg-image-daytime.jpg);
  }

  .Container--nighttime {
    background-image: url(../../assets/tablet/bg-image-nighttime.jpg);
  }

  .Container__content {
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .Container--daytime {
    background-image: url(../../assets/desktop/bg-image-daytime.jpg);
  }

  .Container--nighttime {
    background-image: url(../../assets/desktop/bg-image-nighttime.jpg);
  }

  .Container__content {
  }
}
